{% load templatetag_handlebars %}
{% tplhandlebars "channel_details_admin" %}
<div>
    <p>Channel ID: {{Channel.ChannelID}}</p>
    <p>Channel Type: {{Channel.Type}}</p>
    <p>Channel Name: {{Channel.Name}}</p>
    {{#with Channel.Tags}}
    <p>Quarter/Year/SLN: {{quarter}}/{{year}}/{{sln}}</p>
    {{/with}}
    <p>Created Date: {{Channel.Created}}</p>
    <p>Last Modified: {{Channel.LastModified}}</p>
    <p>Modified By: {{Channel.ModifiedBy}}</p>
    <p>Expires Date: {{Channel.Expires}}</p>
    <p>Expires Description: {{Channel.Tags.expires_desc}}</p>
</div>
{% endtplhandlebars %}
