{% load templatetag_handlebars %}
{% tplhandlebars "endpoint_address" %}
<div>
    <p>Endpoint ID: {{Endpoint.EndpointID}}</p>
    <p>Endpoint Address: {{Endpoint.EndpointAddress}}</p>
    <p>Endpoint Owner: {{Endpoint.OwnerID}}</p>
    {{#if Endpoint.Status}}
    <p>SMS Status: {{Endpoint.Status}}</p>
    {{/if}}
    <p>Is Active: {{Endpoint.Active}}</p>
    <p>Created: {{Endpoint.Created}}</p>
    <p>Last Modified: {{Endpoint.LastModified}}</p>
    <p>Modified By: {{Endpoint.ModifiedBy}}</p>
    <button type="submit" onclick="confirmDelete('{{Endpoint.EndpointID}}')">Delete</button>
</div>
{% endtplhandlebars %}
