{% verbatim %}
<script id="tpl-user-subscriptions" type="text/x-handlebars-template">
<div>
    {{#unless Subscriptions}}
        <p>User does not have any subscriptions</p>
    {{/unless}}
    {{#each Subscriptions}}
    <div>
        <p>Subscription ID: {{Subscription.SubscriptionID}}</p>
        <p>Created: {{Subscription.Created}}</p>
        <p>Last Modified: {{Subscription.LastModified}}</p>
        <p>Modified By: {{Subscription.ModifiedBy}}</p>
        {{#with Subscription.Channel}}
        <p>Channel ID: <a href="javascript:void(0)" onclick="loadChannel('{{ChannelID}}')">{{ChannelID}}</a></p>
        <p>Channel Name: {{Name}}</p>
        <p>Channel Expires: {{Expires}}</p>
        {{/with}}
        {{#with Subscription.Endpoint}}
        <p>Subscribed Endpoint: {{EndpointID}}</p>
        <p>Endpoint Address: <a href="javascript:void(0)" onclick="loadEndpoint('{{EndpointID}}')">{{EndpointAddress}}</a></p>
        {{/with}}
         <br />
        <br />
    {{/each}}
    </div>
</div>
</script>
{% endverbatim %}
