{% load templatetag_handlebars %}
{% tplhandlebars "user_details" %}
<div>
    <p>Person ID (REGID): {{PersonID}}</p>
    <p>Surrogate ID: {{SurrogateID}}</p>
    <p>Date Created: {{Created}}</p>
    <p>Date Modified: {{LastModified}}</p>
    <p>Modified By: {{ModifiedBy}}</p>
    <p>Attributes</p>
    <ul>
        {{#with Attributes}}
        <li>Dispatched Text Message Count: {{DispatchedTextMessageCount}}</li>
        <li>Accepted Terms Of Use: {{AcceptedTermsOfUse}}</li>
        <li>Dispatched Email Count: {{DispatchedEmailCount}}</li>
        <li>Sent Text Message Count: {{SentTextMessageCount}}</li>
        
        <li>
            Subscription Count: 
            {{#if SubscriptionCount}}
            <a href="javascript:void(0)" onclick="loadSubscriptions('{{../../PersonID}}')">{{SubscriptionCount}} (view subscriptions)</a>
            {{else}}
            {{SubscriptionCount}}
            {{/if}}
            </li>
        
        {{/with}}
    </ul>
    <p>Endpoints</p>
    <ul>
    {{#key_value Endpoints}}
        <li><a href="javascript:void(0)" title="manage profile" onclick="loadEndpoint('{{value}}')">{{key}}</a></li>
    {{/key_value}}
    </ul>
</div>
{% endtplhandlebars %}

