{% verbatim %}
<script id="tpl-endpoint" type="text/x-handlebars-template">
<div class="profile_container">
    <h3 id="email_header">Email</h3>
        <div id="email_text">
            {{#if email.EndpointAddress}}
            <span class="endpoint">{{email.EndpointAddress}}</span>
            {{else}}
            <span>none saved</span>
            {{/if}}
            <span><a id="email_edit" href="javascript:void(0)" title="edit email number" class="edit">edit</a></span>
        </div>

        <form id="email_form" style="display:none">
            <input type="hidden" value="{{email.EndpointID}}" />
            <input id="current_email_endpoint" type="hidden" value="{{email.EndpointAddress}}" />

            <!-- the default address comes in via DefaultEndpoint, not email -->
            {{#if email }}
            <a href="javascript:void(0)" class="remove" title="remove email & any subscriptions associated with this email">X</a>
            {{else}}
            <span  class="remove"></span>
            {{/if}}
            <input type="{{#if_mobile}}email{{else}}text{{/if_mobile}}" name="email" id="email_input" aria-labelledby="email_header" {{#if email.EndpointAddress}}value="{{email.EndpointAddress}}"{{/if}} placeholder="Enter email"/>
            <button class="flat add" type="submit">OK</button>
            <div role="alert" class="error_text"></div>
        </form>
<h3 id="phone_header">Phone <div class="info_endpoint" role="alert"></div></h3>
        {{#if sms.EndpointAddress}}
            {{#if sms.isBlacklisted}}
            <div class="confirmation_message">This phone number was Blacklisted from our service. You need to reply to any text from {{email.SenderAddress}} with "Start" to reinstate this #.</div>
            {{else}}
                {{#unless sms.isConfirmed}}
<div class="confirmation_message">A confirmation text was sent. Reply "YES" to confirm{{#if_mobile}}{{else}} your #{{/if_mobile}}. <a id="sms_resend" href="javascript:void(0)" title="Resend confirmation request" class="resend">resend text</a></div>
                {{/unless}}
            {{/if}}
        {{/if}}
        <div id="sms_text">
            {{#if sms.EndpointAddress}}
            <span class="endpoint">{{sms.EndpointAddress}}</span>
            {{else}}
            <span>none saved</span>
            {{/if}}
            <span><a id="sms_edit" href="javascript:void(0)" title="edit sms number" class="edit">edit</a></span>
        </div>

        <form id="sms_form" style="display:none">
            <input type="hidden" value="{{sms.EndpointID}}" />
            <input id="current_sms_endpoint" type="hidden" value="{{sms.EndpointAddress}}" />
            {{#if sms.EndpointAddress}}
            <a href="javascript:void(0)" class="remove" title="remove phone & any subscriptions associated with this phone #">X</a>
            {{else}}
            <span  class="remove"></span>
            {{/if}}
            <input type="{{#if_mobile}}tel{{else}}text{{/if_mobile}}" name="sms" id="sms_input" aria-labelledby="phone_header" {{#if sms.EndpointAddress}}value="{{sms.EndpointAddress}}"{{/if}} placeholder="Enter phone # (US only)"/>
            <button class="flat add" type="submit">OK</button>
            <div role="alert" class="error_text"></div>
        </form>
        <div id="endpoint_required" role="alert" class="validation_error" style="display:none;">At least one notification option is required.</div>
<div class="button_container"><button id="profile_done" type="submit" class="flat" value="Done">Done</button></div>
</div>
</script>
{% endverbatim %}
