<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Notify.UW</title>
        {% load staticfiles %}
        {% load compress %}
        {% compress css %}
        <link type="text/css" rel="stylesheet" href="{% static "libs/bootstrap-custom.css" %}" charset="utf-8" />
            <link type="text/css" rel="stylesheet" href="{% static "libs/jquery-ui-1.9.2.custom/css/ui-lightness/jquery-ui-1.9.2.custom.min.css" %}" charset="utf-8" />
            <link type="text/css" rel="stylesheet" href="{% static "libs/jquery.selectboxit.css" %}" charset="utf-8" />
            <link rel="stylesheet" type="text/less" href="{% static "css/mobile.less" %}" media="screen" />

        {% endcompress %}

        {% block extra_css %}{% endblock %}

        {% if less_not_compiled %}
        <script type="text/javascript" src="{% static "libs/less-1.3.1.min.js" %}"></script>
        {% endif %}
        <script type="text/javascript">
            var can_user = '{{netid}}';
            var is_mobile = {{is_mobile|yesno:"true,false"}};
            var has_endpoints = {{valid_endpoints|safe}};
        </script>

        <meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1">

        {% csrf_token %}

        <script type="text/javascript">
           var _gaq = _gaq || [];
           _gaq.push(['_setAccount', 'UA-39396869-1']);
           _gaq.push(['_trackPageview']);

           (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();
        </script>
    </head>
    <body>
   <div  class="body_container">
        {% if override_user %}
             <div class="override_alert" role="alert">You are overriding as <strong>{{override_user}}</strong>.<a href="javascript:void(0)" onclick="canui.clearOverride()">Clear override</a></div>
        {% endif %}
            {% block head_container %}<div class="head clearfix">{% endblock %}
            <span class="title"><h1 ><span class="visuallyhidden">Notify.UW</span></h1></span>
            {% block navigation %}

            <span class="title trailing"></span>
                {% endblock %}
            </div>
            <div id="container" class="tos_container">
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer" class="clearfix">
                <div class="pull-left copyright">Copyright &copy; 2017 &nbsp;&nbsp;&nbsp;<a href="http://www.washington.edu/online/privacy/" title="UW Privacy Policy" target="_blank">Privacy</a> | <a href="http://www.washington.edu/itconnect/learn/tools/notify-uw/notify-uw-frequently-asked-questions/#service" title="Terms of Service" target="_blank">Terms</a> | <a href="http://www.washington.edu/itconnect/learn/tools/notify-uw" title="About Notifications" target="_blank">About</a> | <a href="mailto:{{support_email}}" title="Contact support" target="_blank">Contact</a><br/>UW-IT, University of Washington
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "libs/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js" %}"></script>

        {% compress js %}
            <script type="text/javascript" src="{% static "js/global.js" %}"></script>
            <script type="text/javascript" src="{% static "js/desktop.js" %}"></script>
            <script type="text/javascript" src="{% static "libs/handlebars.js" %}"></script>
            <script type="text/javascript" src="{% static "libs/jquery.selectboxit.js" %}"></script>
            <script type="text/javascript" src="{% static "libs/jquery.placeholder.min.js" %}"></script>
            <script type="text/javascript" src="{% static "libs/json2.js" %}"></script>
            {% block extra_js %}{% endblock %}
        {% endcompress %}
    </body>
</html>
