{% extends 'supporttools/base.html' %}

{% load staticfiles %}
{% load compress %}

{% block extra_js %}
<script type="text/javascript">
    window.notify = {
        person_url: "{% url 'restclients_proxy' 'nws' 'notification/v1/person' %}",
        endpoint_url: "{% url 'restclients_proxy' 'nws' 'notification/v1/endpoint' %}",
        channel_url: "{% url 'restclients_proxy' 'nws' 'notification/v1/channel' %}",
        subscription_url: "{% url 'restclients_proxy' 'nws' 'notification/v1/subscription' %}"
    };
</script>
{% compress js %}
<script type="text/javascript" src="{% static 'js/support.js' %}"></script>
{% endcompress %}
{% endblock %}
